@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Cattedrale';
	src: local(''), url('/fonts/Cattedrale.ttf') format('truetype');
}

@font-face {
	font-family: 'Heartless';
	src: local(''), url('/fonts/Heartless.ttf') format('truetype');
}

:root {
	scroll-behavior: smooth;
}

body {
	@apply bg-zinc-900 text-white;
}
